numpy
jupyter
jupyterlab
pyzmq
scipy
pandas
pandas-datareader
matplotlib
statsmodels
scikit-learn
seaborn
nltk
gensim
shapely
shapely[vectorized]
Flask
django
sympy
bokeh
networkx
theano
requests
beautifulsoup4
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyter_kernel_gateway
ipyleaflet
bqplot
ipyvolume
pythreejs
pymc3
jupyter_dashboards
dumb-init
dash
dash-renderer
dash-html-components
dash-core-components
plotly
ipywidgets
tensorflow
h5py
keras
gym
oauthenticator
